.conteudo {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    background-color:rgb(23, 43, 73);
}

.bio {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.englobaFoto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(12, 11, 80);
    background: rgb(16, 116, 117);
    background: linear-gradient(60deg, rgb(14, 99, 99) 0%, rgb(27, 30, 48) 69%);
    width: 35%;
}

.englobaText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(27, 30, 48);
    color:aliceblue;
    width: 65%;
    height: 20rem;
}

.englobaFoto > img {
    width: 12rem;
    height: auto;
    max-height: 12rem;
    border: 2px solid #07559e;
    box-shadow: rgb(40, 46, 53) 0px 20px 30px -10px;
    border-radius: 0.4rem;
    transition: all 1s;
}

.englobaFoto > img:hover, .englobaFoto > img:active {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    transform: scale(1.1, 1.1);
}

.englobaText > h3 {
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    align-self: flex-start;
}

.englobaText > p {
    font-size: 0.9rem;
    padding: 0 4rem;
}

.NormalMode {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.englobaMode {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.englobaMode > span {
    color: white;
    padding-bottom: 1rem;
}

.Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.Skills > h2 {
    font-size: 2rem;
    color: white;
}

.Skills > div {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    min-height: 15rem;
}

.Skills > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Skills > div > div > h4 {
    font-size: 1.3rem;
    color:white;
}

.Skills > div > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin-left: 1rem;
}

.Skills > div > div > div > img {
    margin-left: -1rem;
    transition: all 0.5s linear;
}

.Skills > div > div > div > img:hover, .Skills > div > div > div > img:active {
    transform: translateY(-1.5rem);
}

@media(max-width: 550px) {
    .englobaText > p {
        font-size: 0.9rem;
        padding: 0 2rem;
    }
    .englobaText > h3 {
        font-size: 1.7rem;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        align-self: flex-start;
    }

    .Skills > div {
        min-height: 35rem;
        flex-direction: column;
    }

    .Skills > div > div {
        padding-top: 3rem;
    }
} 

@media(max-width: 360px) {
    .englobaText {
        height: max-content;
    }

    .englobaText > h3 {
        padding-top: 1.5rem;
    }

    .englobaText > p {
        padding-bottom: 1.5rem;
    }
}
